.upload-pdf-button {
    padding: 5px 20px;
    border: 2px solid #00AEEF;
    border-radius: 30px;
    transition: all 0.3s ease;
    width: 170px;
  }
  
  .upload-pdf-button:hover {
    background-color: #f0f0f0;
  }

  .AM-tn{
    padding: 7px 16px;
  }