@font-face {
    font-family: 'Publica Sans Round';
    src: url('../assets/fonts/PublicaSansRound-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans Round';
    src: url('../assets/fonts/PublicaSansRound-Rg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans Round';
    src: url('../assets/fonts/PublicaSansRound-Md.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
