// Font smoothing for cross-browser consistency
@mixin font-smoothing {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Flex center for centering elements
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Button styles with updated variables
@mixin button-style($bg-color: $btn-bg-color, $text-color: $btn-text-color, $border-color: $btn-border-color) {
    background-color: $bg-color;
    color: $text-color;
    border-radius: 44px;
    border: 1px solid $border-color;
    padding: 0.5em 2em;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    font-family: $font-primary; // Use the updated font
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


// Button focus state
// @mixin button-focus($focus-color) {

//     &:focus,
//     &:focus-visible {
//         outline: 2px solid $focus-color;
//         outline-offset: 4px;
//     }
// }

@mixin heading-style($font-size, $line-height, $font-weight, $color) {
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

// Hover state for buttons with hover colors
@mixin button-hover($hover-bg: $btn-hover-bg-color, $hover-border: $btn-hover-border-color) {
    &:hover {
        background-color: $hover-bg;
        border-color: $hover-border;
    }
}

// Bootstrap-like breakpoints
@mixin respond-to($media) {
    @if $media == 'xs' {
        @media (max-width: 575.98px) {
            @content;
        }
    }
    @else if $media == 'sm' {
        @media (min-width: 576px) {
            @content;
        }
    }
    @else if $media == 'md' {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $media == 'lg' {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $media == 'xl' {
        @media (min-width: 1200px) {
            @content;
        }
    }
}